![](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png "Python Logo")

# Outline <a class="anchor" id="Table_of_Contents"></a>
* [Hello World!](#Hello_World!)
* [Comments](#Comments)
* [Operators](#Operators)
    * [Arithmetic Operators](#Arithmetic_Operators)
    * [Comparison Operators](#Comparison_Operators)
    * [Assignment Operators](#Assignment_Operators)
    * [Logical Operators](#Logical_Operators)
    * [Identity Operators](#Identity_Operators)
    * [Membership Operators](#Membership_Operators)
* [Variables](#Variables)
    * [Types of Variables](#Types_of_Variables)
    * [Assign Multiple Values](#Assign_Multiple_Values)
    * [Variables Names](#Variables_Names)
    * [Casting](#Casting)
    * [Strings](#Strings)
        * [Strings Methods](#Strings_Methods)
        * [Format Strings](#Format_Strings)
        * [Escape Characters](#Escape_Characters)
    * [Lists](#Lists)
        * [Lists Methods](#Lists_Methods)
    * [Tuples](#Tuples)
        * [Tuples Methods](#Tuples_Methods)
    * [Sets](#Sets)
        * [Sets Methods](#Sets_Methods)
    * [Dictionaries](#Dictionaries)
        * [Dictionaries Methods](#Dictionaries_Methods)
* [Conditional Commands](#Conditional_Commands)
* [Loops](#Loops)
    * [While Loop](#While_Loop)
    * [For Loop](#For_Loop)
* [Functions](#Functions)
    * [Creating a Function](#Creating_a_Function)
    * [Function Arguments](#Function_Arguments)
        * [Number of Arguments](#Number_of_Arguments)
        * [Arbitrary Arguments, *args](#Arbitrary_Arguments)
        * [Keyword Arguments](#Keyword_Arguments)
        * [Arbitrary Keyword Arguments, **kwargs](#Arbitrary_Keyword_Arguments)
        * [Default Parameter Value](#Default_Parameter_Value)
    * [Return Values](#Return_Values)

# Hello World! <a class="anchor" id="Hello_World!"></a> [&#11014;](#Table_of_Contents)

In [1]:
print("Hello World!")         # print("Hello World!", end='\n')
print("Hello", "World!")      # print("Hello", "World!", sep=' ')
print("Hello " + "World!")

Hello World!
Hello World!
Hello World!

# Comments <a class="anchor" id="Comments"></a> [&#11014;](#Table_of_Contents)

In [2]:
# This is a single line comment.

"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

# Operators <a class="anchor" id="Operators"></a> [&#11014;](#Table_of_Contents)

## Arithmetic Operators <a class="anchor" id="Arithmetic_Operators"></a> [&#11014;](#Table_of_Contents)

| Operator | Name |
| :- | :- |
| `+` | Addition |
| `-` | Subtraction |
| `*` | Multiplication |
| `/` | Division |
| `%` | Modulus |
| `**` | Exponentiation |
| `//` | Floor division |

In [3]:
print('5 + 3 =', 5 + 3)        # addition

print('5 - 3 =', 5 - 3)        # subtraction

print('5 * 3 =', 5 * 3)        # multiplication

print('12 / 3 =', 12 / 3)      # division

print('15 // 2 =', 15 // 2)    # floor division

print('5 % 2 =', 5 % 2)        # modulus

print('2 ** 5 =', 2 ** 5)      # exponentiation

5 + 3 = 8
5 - 3 = 2
5 * 3 = 15
12 / 3 = 4.0
15 // 2 = 7
5 % 2 = 1
2 ** 5 = 32

<div class="alert alert-block alert-info">

the floor division `//` rounds the result down to the nearest whole number
</div>

In [4]:
print('Ali ' + 'Bagheri')

print('*' * 10)

Ali Bagheri
**********

## Comparison Operators <a class="anchor" id="Comparison_Operators"></a> [&#11014;](#Table_of_Contents)

| Operator | Name |
| :- | :- |
| `==` | Equal |
| `!=` | Not equal |
| `>` | Greater than |
| `<` | Less than |
| `>=` | Greater than or equal to |
| `<=` | Less than or equal to |

In [5]:
print('5 = 3?', 5 == 3)     # equal

print('5 != 3?', 5 != 3)    # not equal

print('5 > 3?', 5 > 3)      # greater than

print('5 < 3?', 5 < 3)      # less than

print('5 >= 3?', 5 >= 3)    # greater than or equal to

print('5 <= 3?', 5 <= 3)    # less than or equal to

5 = 3? False
5 != 3? True
5 > 3? True
5 < 3? False
5 >= 3? True
5 <= 3? False

## Assignment Operators <a class="anchor" id="Assignment_Operators"></a> [&#11014;](#Table_of_Contents)

In [6]:
x = 5

x += 3     # x = x + 3 = 5 + 3 = 8
print(x)

x -= 3     # x = x - 3 = 8 - 3 = 5
print(x)

x *= 3     # x = x * 3 = 5 * 3 = 15
print(x)

x **= 3    # x = x ** 3 = 15 ** 3 = 3375
print(x)

x /= 3     # x = x / 3 = 3375 / 3 = 1125.0
print(x)

x //= 3    # x = x // 3 = 1125 // 3 = 375.0
print(x)

x %= 3     # x = x % 3 = 375.0 % 3 = 0.0
print(x)

8
5
15
3375
1125.0
375.0
0.0

## Logical Operators <a class="anchor" id="Logical_Operators"></a> [&#11014;](#Table_of_Contents)

| Operator | Description |
| :- | :- |
| `and` | Returns `True` if both statements are true | 
| `or` | Returns `True` if one of the statements is true |
| `not` | Reverse the result, returns `False` if the result is true |

In [7]:
x = 5

print(x > 3 and x < 10)
print(x > 3 or x < 4)
print(not(x > 3 and x < 10))

True
True
False

## Identity Operators <a class="anchor" id="Identity_Operators"></a> [&#11014;](#Table_of_Contents)

| Operator | Description |
| :- | :- |
| `is` | Returns `True` if both variables are the same object |
| `is not` | Returns `True` if both variables are not the same object |

In [8]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

# returns True because z is the same object as x
print(x is z)

# returns False because x is not the same object as y,
# even if they have the same content
print(x is y)    

# to demonstrate the difference betweeen "is" and "==":
# this comparison returns True because x is equal to y
print(x == y)

print()

# returns False because z is the same object as x
print(x is not z)

# returns True because x is not the same object as y,
# even if they have the same content
print(x is not y)

# to demonstrate the difference betweeen "is not" and "!=":
# this comparison returns False because x is equal to y
print(x != y)

True
False
True

False
True
False

## Membership Operators <a class="anchor" id="Membership_Operators"></a> [&#11014;](#Table_of_Contents)

| Operator | Description |
| :- | :- |
| `in` | Returns `True` if a sequence with the specified value is present in the object |
| `not in` | Returns `True` if a sequence with the specified value is not present in the object |

In [9]:
x = ["apple", "banana"]

print("banana" in x)
print("pineapple" not in x)

True
True

<div class="alert alert-block alert-info">

The precedence of operators in Python is the same as the precedence of operators in normal mathematical calculations.
</div>

# Variables <a class="anchor" id="Variables"></a> [&#11014;](#Table_of_Contents)

## Types of Variables <a class="anchor" id="Types_of_Variables"></a> [&#11014;](#Table_of_Contents)

In [10]:
# string
S1 = 'Qorpi'

print('S1 is', S1)
print('The type of variable S1 is', type(S1))

S1 is Qorpi
The type of variable S1 is <class 'str'>

In [11]:
# string
S2 = "Qorpi"

print('S2 is', S2)
print('The type of variable S2 is', type(S2))

S2 is Qorpi
The type of variable S2 is <class 'str'>

In [12]:
# integer number
I1 = 349

print('I1 is', I1)
print('The type of variable I1 is', type(I1))

I1 is 349
The type of variable I1 is <class 'int'>

In [13]:
# integer number
I2 = -80

print('I2 is', I2)
print('The type of variable I2 is', type(I2))

I2 is -80
The type of variable I2 is <class 'int'>

In [14]:
# float number
pi = 3.14

print('pi is', pi)
print('The type of variable pi is', type(pi))

pi is 3.14
The type of variable pi is <class 'float'>

In [15]:
# complex number
C = 2+3j

print('C is', C)
print('The type of variable C is', type(C))

C is (2+3j)
The type of variable C is <class 'complex'>

In [16]:
# boolean
B1 = True

print('B1 is', B1)
print('The type of variable B1 is', type(B1))

B1 is True
The type of variable B1 is <class 'bool'>

In [17]:
# boolean
B2 = False

print('B2 is', B2)
print('The type of variable B2 is', type(B2))

B2 is False
The type of variable B2 is <class 'bool'>

In [18]:
# list
l1 = [1,2,3,4]
l2 = list((1,2,3,4))

print('l1 = l2?', l1 == l2)
print('l1 is', l1)
print('The type of variable l1 and l2 is', type(l1))

l1 = l2? True
l1 is [1, 2, 3, 4]
The type of variable l1 and l2 is <class 'list'>

In [19]:
# tuple
t1 = (1,2,3,4)
t2 = tuple((1,2,3,4))

print('t1 = t2?', t1 == t2)
print('t1 is', t1)
print('The type of variable t1 and t2 is', type(t1))

t1 = t2? True
t1 is (1, 2, 3, 4)
The type of variable t1 and t2 is <class 'tuple'>

In [20]:
# set
s1 = {1,2,3,4}
s2 = set((1,2,3,4))

print('s1 = s2?', s1 == s2)
print('s1 is', s1)
print('The type of variable s1 and s2 is', type(s1))

s1 = s2? True
s1 is {1, 2, 3, 4}
The type of variable s1 and s2 is <class 'set'>

In [21]:
# dictionary
d1 = {'Ali': 24, 'Mohammad': 27}
d2 = dict(Ali=24, Mohammad=27)

print('d1 = d2?', d1 == d2)
print('d1 is', d1)
print('The type of variable d1 and d2 is', type(d1))

d1 = d2? True
d1 is {'Ali': 24, 'Mohammad': 27}
The type of variable d1 and d2 is <class 'dict'>

We can also get input from the user using the ‍`input‍‍‍` ‍command as follows:

In [22]:
x = input("Please enter your variable: ")

print('x is', x)
print('The type of variable x is', type(x))

x is 5
The type of variable x is <class 'str'>

## Assign Multiple Values <a class="anchor" id="Assign_Multiple_Values"></a> [&#11014;](#Table_of_Contents)

In [23]:
x, y, z = "Orange", "Banana", "Cherry"

print('x is', x)
print('y is', y)
print('z is', z)

x is Orange
y is Banana
z is Cherry

In [24]:
x = y = z = "Orange"

print('x is', x)
print('y is', y)
print('z is', z)

x is Orange
y is Orange
z is Orange

In [25]:
fruits = ["Apple", "Banana", "Cherry"]
x, y, z = fruits

print('x is', x)
print('y is', y)
print('z is', z)

x is Apple
y is Banana
z is Cherry

## Variables Names <a class="anchor" id="Variables_Names"></a> [&#11014;](#Table_of_Contents)

Rules for Python variables:

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

<div class="alert alert-block alert-info">

In Python, there are a number of [keywords](https://docs.python.org/3/reference/lexical_analysis.html#keywords "Python keywords") and a number of [built-in functions](https://docs.python.org/3/library/functions.html#built-in-functions "Python built-in functions"), each of which has important uses in Python. When choosing names for variables, we should not use these names, because this will destroy their original use.
</div>

In [26]:
# Legal variable names

myVariableName = 'Ali'        # Camel Case
MyVariableName = 'Bagheri'    # Pascal Case
my_variable_name = 1998       # Snake Case

myvariablename = "Ali"
_my_variable_name = "Bagheri"
MYVAR = 1998
myvar2 = 25.5

## Casting <a class="anchor" id="Casting"></a> [&#11014;](#Table_of_Contents)

In [27]:
i = int(1)
f = float(1)
s = str(1)
b0 = bool(0)
b1 = bool(1)
c = complex(1)

print('i is', i)
print('The type of variable i is', type(i), '\n')
print('f is', f)
print('The type of variable f is', type(f), '\n')
print('s is', s)
print('The type of variable s is', type(s), '\n')
print('b0 is', b0)
print('The type of variable b0 is', type(b0), '\n')
print('b1 is', b1)
print('The type of variable b1 is', type(b1), '\n')
print('c is', c)
print('The type of variable c is', type(c))

i is 1
The type of variable i is <class 'int'>

f is 1.0
The type of variable f is <class 'float'>

s is 1
The type of variable s is <class 'str'>

b0 is False
The type of variable b0 is <class 'bool'>

b1 is True
The type of variable b1 is <class 'bool'>

c is (1+0j)
The type of variable c is <class 'complex'>

<div class="alert alert-block alert-info">

In `bool` function, almost any value is evaluated to `True` if it has some sort of content:
    
- Any string is `True`, except empty strings.
    
- Any number is `True`, except `0`.
    
- Any list, tuple, set, and dictionary are `True`, except empty ones.
    
In fact, there are not many values that evaluate to `False`, except empty values, such as `()`, `[]`, `{}`, `""`, the number `0`, and the value `None`. And of course the value `False` evaluates to `False`.
</div>

The following will return `False`:

In [28]:
print(bool(False))

print(bool(None))

print(bool(0))

print(bool(""))

print(bool(()))

print(bool([]))

print(bool({}))

False
False
False
False
False
False
False

<div class="alert alert-block alert-info">
    
Python also has many built-in functions that return a boolean value, like the `isinstance()` function, which can be used to determine if an object is of a certain data type:
</div>

In [29]:
x = 200

print(isinstance(x, int))    # it is same as type(x) == int

True

In [30]:
x = (1,2,3,4)

print('x is', x)
print('The type of variable x is', type(x))

x is (1, 2, 3, 4)
The type of variable x is <class 'tuple'>

In [31]:
l = list(x)
print('l is', l)
print('The type of variable l is', type(l), '\n')

s = set(x)
print('s is', s)
print('The type of variable s is', type(s))

l is [1, 2, 3, 4]
The type of variable l is <class 'list'>

s is {1, 2, 3, 4}
The type of variable s is <class 'set'>

## Strings <a class="anchor" id="Strings"></a> [&#11014;](#Table_of_Contents)

In [32]:
s1 = " This is a single line string variable. "
s2 = """This is a
multiline string variable."""

print("s1 is", s1)
print("s2 is", s2)

s1 is  This is a single line string variable.
s2 is This is a
multiline string variable.

<div class="alert alert-block alert-info">

in the result, the line breaks are inserted at the same position as in the code.
</div>

In [33]:
s = " Introduction to Python "

print("s is", s, '\n')

print("s[:] is", s[:], '\n')

print("s[1] is", s[1], '\n')

print("s[-1] is", s[-1], '\n')

# s[start:end:step] (default: step=1)

print("s[13:15] is", s[13:15], '\n')

print("s[16:] is", s[16:], '\n')

print("s[:6] is", s[:6], '\n')

print("s[1:4:2] is", s[1:4:2], '\n')

print("s[::-1] is", s[::-1], '\n')

print("s[-9:-2] is", s[-9:-2])

s is  Introduction to Python

s[:] is  Introduction to Python

s[1] is I

s[-1] is

s[13:15] is  t

s[16:] is  Python

s[:6] is  Intro

s[1:4:2] is It

s[::-1] is  nohtyP ot noitcudortnI

s[-9:-2] is o Pytho

<div class="alert alert-block alert-info">

String items, doesn't changeable. In fact, string objects is *immutable*.
</div>

In [34]:
s[0] = ""

print(s)

TypeError: 'str' object does not support item assignment

In [35]:
print('python' in s)
print('Python' in s)
print('python' not in s)

False
True
True

In [36]:
print("The length of variable s is", len(s))

The length of variable s is 24

### Strings Methods <a class="anchor" id="Strings_Methods"></a> [&#11014;](#Table_of_Contents)

| Method | Description |
| :- | :- |
| `capitalize()` | Converts the first character to upper case |
| `casefold()` | Converts string into lower case |
| `center()` | Returns a centered string |
| `count()` | Returns the number of times a specified value occurs in a string |
| `encode()` | Returns an encoded version of the string |
| `endswith()` | Returns true if the string ends with the specified value |
| `expandtabs()` | Sets the tab size of the string |
| `find()` | Searches the string for a specified value and returns the position of where it was found |
| `format()` | Formats specified values in a string |
| `format_map()` | Formats specified values in a string |
| `index()` | Searches the string for a specified value and returns the position of where it was found |
| `isalnum()` | Returns True if all characters in the string are alphanumeric |
| `isalpha()` | Returns True if all characters in the string are in the alphabet |
| `isascii()` | Returns True if all characters in the string are ascii characters |
| `isdecimal()` | Returns True if all characters in the string are decimals |
| `isdigit()` | Returns True if all characters in the string are digits |
| `isidentifier()` | Returns True if the string is an identifier |
| `islower()` | Returns True if all characters in the string are lower case |
| `isnumeric()` | Returns True if all characters in the string are numeric |
| `isprintable()` | Returns True if all characters in the string are printable |
| `isspace()` | Returns True if all characters in the string are whitespaces |
| `istitle()` | Returns True if the string follows the rules of a title |
| `isupper()` | Returns True if all characters in the string are upper case |
| `join()` | Converts the elements of an iterable into a string |
| `ljust()` | Returns a left justified version of the string |
| `lower()` | Converts a string into lower case |
| `lstrip()` | Returns a left trim version of the string |
| `maketrans()` | Returns a translation table to be used in translations |
| `partition()` | Returns a tuple where the string is parted into three parts |
| `replace()` | Returns a string where a specified value is replaced with a specified value |
| `rfind()` | Searches the string for a specified value and returns the last position of where it was found |
| `rindex()` | Searches the string for a specified value and returns the last position of where it was found |
| `rjust()` | Returns a right justified version of the string |
| `rpartition()` | Returns a tuple where the string is parted into three parts |
| `rsplit()` | Splits the string at the specified separator, and returns a list |
| `rstrip()` | Returns a right trim version of the string |
| `split()` | Splits the string at the specified separator, and returns a list |
| `splitlines()` | Splits the string at line breaks and returns a list |
| `startswith()` | Returns true if the string starts with the specified value |
| `strip()` | Returns a trimmed version of the string |
| `swapcase()` | Swaps cases, lower case becomes upper case and vice versa |
| `title()` | Converts the first character of each word to upper case |
| `translate()` | Returns a translated string |
| `upper()` | Converts a string into upper case |
| `zfill()` | Fills the string with a specified number of 0 values at the beginning |

<div class="alert alert-block alert-info">

All string methods return new values. They do not change the original string.
</div>

In [37]:
print(s.upper())    # converts string s into upper case
print(s.lower())    # converts string s into lower case

 INTRODUCTION TO PYTHON
 introduction to python

In [38]:
# removes any whitespace from the beginning or the end of string s
print(s.strip())

# removes any whitespace from the beginning of string s
print(s.lstrip())

# removes any whitespace from the end of string s
print(s.rstrip())

Introduction to Python
Introduction to Python
 Introduction to Python

In [39]:
print(s.replace('P', 'p'))    # returns string s that P is replaced with p

 Introduction to python

In [40]:
# splits string s at the specified separator, and returns a list
print(s.split(' '))

['', 'Introduction', 'to', 'Python', '']

In [41]:
# returns the number of times that character p occurs in string s
print(s.count('p'))

# returns the number of times that character P occurs in string s
print(s.count('P'))

0
1

In [42]:
# searches the string s for character p
# and returns the position of where it was found
print(s.find('p'))

# searches the string s for character P
# and returns the position of where it was found
print(s.find('P'))

-1
17

In [43]:
# searches the string s for character p
# and returns the position of where it was found
print(s.index('p'))

ValueError: substring not found

In [44]:
# searches the string s for character P
# and returns the position of where it was found
print(s.index('P'))

17

<div class="alert alert-block alert-info">

The ‍`find‍` and `index` methods have the same functions, with the difference that the `find` method returns `-1` if the input character is not found in the string, but the `index` method returns an error.
</div>

### Format Strings <a class="anchor" id="Format_Strings"></a> [&#11014;](#Table_of_Contents)

In [45]:
quantity = 3
itemno = 567
price = 49.95

myorder = "I want {} pieces of item {} for {} dollars."

print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [46]:
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."

print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [47]:
print(f"I want {quantity} pieces of item {itemno} for {price} dollars.")

I want 3 pieces of item 567 for 49.95 dollars.

### Escape Characters <a class="anchor" id="Escape_Characters"></a> [&#11014;](#Table_of_Contents)

| Code | Result |
| :- | :- |
| `\'` | Single Quote |
| `\"` | Double Quote |
| `\n` | New Line |
| `\t` | Tab |
| `\b` | Backspace |

In [48]:
print("We are the so-called \"Vikings\" from the north.")

We are the so-called "Vikings" from the north.

In [49]:
print('It\'s alright.')

It's alright.

In [50]:
print("Hello\nWorld!")

Hello
World!

In [51]:
print("Hello\tWorld!")

Hello	World!

In [52]:
print("Hello \bWorld!")

HelloWorld!

## Lists <a class="anchor" id="Lists"></a> [&#11014;](#Table_of_Contents)

List items are ordered, changeable (List objects are *mutable*) and allow duplicate values.

In [53]:
mylist = ["apple", 1, 3.14, True, 'Python', 3+4j,
          [1,2,3,5], (1,2,3,5), {"Ali":25, "Reza":26}, {1,2,3,5}, 'x']

print(mylist, '\n')

print("mylist[:] is", mylist[:], '\n')

print("mylist[1] is", mylist[1], '\n')

print("mylist[-1] is", mylist[-1], '\n')

# mylist[start:end:step] (default: step=1)

print("mylist[3:5] is", mylist[3:5], '\n')

print("mylist[6:] is", mylist[6:], '\n')

print("mylist[:6] is", mylist[:6], '\n')

print("mylist[1:4:2] is", mylist[1:4:2], '\n')

print("mylist[::-1] is", mylist[::-1], '\n')

print("mylist[-9:-2] is", mylist[-9:-2])

['apple', 1, 3.14, True, 'Python', (3+4j), [1, 2, 3, 5], (1, 2, 3, 5), {'Ali': 25, 'Reza': 26}, {1, 2, 3, 5}, 'x']

mylist[:] is ['apple', 1, 3.14, True, 'Python', (3+4j), [1, 2, 3, 5], (1, 2, 3, 5), {'Ali': 25, 'Reza': 26}, {1, 2, 3, 5}, 'x']

mylist[1] is 1

mylist[-1] is x

mylist[3:5] is [True, 'Python']

mylist[6:] is [[1, 2, 3, 5], (1, 2, 3, 5), {'Ali': 25, 'Reza': 26}, {1, 2, 3, 5}, 'x']

mylist[:6] is ['apple', 1, 3.14, True, 'Python', (3+4j)]

mylist[1:4:2] is [1, True]

mylist[::-1] is ['x', {1, 2, 3, 5}, {'Ali': 25, 'Reza': 26}, (1, 2, 3, 5), [1, 2, 3, 5], (3+4j), 'Python', True, 3.14, 1, 'apple']

mylist[-9:-2] is [3.14, True, 'Python', (3+4j), [1, 2, 3, 5], (1, 2, 3, 5), {'Ali': 25, 'Reza': 26}]

In [54]:
print('mylist[6] is', mylist[6])
print('mylist[6][1] is', mylist[6][1])

mylist[6] is [1, 2, 3, 5]
mylist[6][1] is 2

In [55]:
mylist[-1] = "Python"

print(mylist)

['apple', 1, 3.14, True, 'Python', (3+4j), [1, 2, 3, 5], (1, 2, 3, 5), {'Ali': 25, 'Reza': 26}, {1, 2, 3, 5}, 'Python']

We can also change a range of item values in a list:

In [56]:
mylist[1:3] = ["orange", "watermelon"]

print(mylist)

['apple', 'orange', 'watermelon', True, 'Python', (3+4j), [1, 2, 3, 5], (1, 2, 3, 5), {'Ali': 25, 'Reza': 26}, {1, 2, 3, 5}, 'Python']

In [57]:
print('python' in mylist)
print('Python' in mylist)
print('python' not in mylist)

False
True
True

In [58]:
print("The length of variable mylist is", len(mylist))

The length of variable mylist is 11

In [59]:
mylist2 = [10, 68, 8, 46, 4, 63.6, 75.9, 80.3, 46.7]

print("The maximum value in mylist2 is", max(mylist2))
print("The maximum value in mylist2 is", min(mylist2))

The maximum value in mylist2 is 80.3
The maximum value in mylist2 is 4

### Lists Methods <a class="anchor" id="Lists_Methods"></a> [&#11014;](#Table_of_Contents)

| Method | Description |
| :- | :- |
| `append()` | Adds an element at the end of the list |
| `clear()` | Removes all the elements from the list |
| `copy()` | Returns a copy of the list |
| `count()` | Returns the number of elements with the specified value |
| `extend()` | Add the elements of a list (or any iterable), to the end of the current list |
| `index()` | Returns the index of the first element with the specified value |
| `insert()` | Adds an element at the specified position |
| `pop()` | Removes the element at the specified position |
| `remove()` | Removes the item with the specified value |
| `reverse()` | Reverses the order of the list |
| `sort()` | Sorts the list |

In [60]:
thislist1 = ["apple", "banana", "cherry", "cherry"]
thislist2 = ["mango", "pineapple", "papaya", "banana", "banana"]

In [61]:
thislist1.append("orange")    # adds "orange" at the end of the list thislist1

print(thislist1)

['apple', 'banana', 'cherry', 'cherry', 'orange']

In [62]:
# adds "watermelon" at index 2 of the list thislist1
thislist1.insert(2, "watermelon")

print(thislist1)

['apple', 'banana', 'watermelon', 'cherry', 'cherry', 'orange']

In [63]:
# add the elements of list thislist2, to the end of the list thislist1
thislist1.extend(thislist2)

print(thislist1)

['apple', 'banana', 'watermelon', 'cherry', 'cherry', 'orange', 'mango', 'pineapple', 'papaya', 'banana', 'banana']

In [64]:
thistuple = ("kiwi", "orange")

# add the elements of tuple thistuple, to the end of the list thislist1
thislist1.extend(thistuple)

print(thislist1)

['apple', 'banana', 'watermelon', 'cherry', 'cherry', 'orange', 'mango', 'pineapple', 'papaya', 'banana', 'banana', 'kiwi', 'orange']

<div class="alert alert-block alert-info">

We can also use `+` sign, to join two lists.
</div>

In [65]:
thislist3 = thislist1 + thislist2

print(thislist3)

['apple', 'banana', 'watermelon', 'cherry', 'cherry', 'orange', 'mango', 'pineapple', 'papaya', 'banana', 'banana', 'kiwi', 'orange', 'mango', 'pineapple', 'papaya', 'banana', 'banana']

In [66]:
# returns the number of elements with the value "banana" in list thislist1
thislist1.count('banana')

3

In [67]:
# returns the index of the first element with the value "watermelon"
# in list thislist1
thislist1.index('watermelon')

2

In [68]:
thislist1.remove("banana")    # removes the item with the value "banana"

print(thislist1)

['apple', 'watermelon', 'cherry', 'cherry', 'orange', 'mango', 'pineapple', 'papaya', 'banana', 'banana', 'kiwi', 'orange']

In [69]:
thislist1.pop(1)    # it removes the index 1 in list thislist1

print(thislist1)

['apple', 'cherry', 'cherry', 'orange', 'mango', 'pineapple', 'papaya', 'banana', 'banana', 'kiwi', 'orange']

<div class="alert alert-block alert-info">

If you do not specify the index, the `pop()` method removes the last item.
</div>

In [70]:
thislist1.pop()

print(thislist1)

['apple', 'cherry', 'cherry', 'orange', 'mango', 'pineapple', 'papaya', 'banana', 'banana', 'kiwi']

<div class="alert alert-block alert-info">

The `del` keyword also removes the specified index.
</div>

In [71]:
del thislist1[0]    # it removes the index 0 in list thislist1

print(thislist1)

['cherry', 'cherry', 'orange', 'mango', 'pineapple', 'papaya', 'banana', 'banana', 'kiwi']

<div class="alert alert-block alert-info">

The `del` keyword can also delete the list completely.
</div>

In [72]:
del thislist1    # it deletes the list thislist1 completely

print(thislist1)

NameError: name 'thislist1' is not defined

In [73]:
thislist = ["apple", "banana", "cherry"]

thislist.clear()    # removes all the elements from the list thislist

print(thislist)

[]

<div class="alert alert-block alert-info">

List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default.
</div>

In [74]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [75]:
thislist = [100, 50, 65, 82, 23]

thislist.sort()

print(thislist)

[23, 50, 65, 82, 100]

In [76]:
thislist.sort(reverse = True)

print(thislist)

[100, 82, 65, 50, 23]

<div class="alert alert-block alert-info">

By default the `sort()` method is case sensitive, resulting in all capital letters being sorted before lower case letters.
</div>

In [77]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort()

print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

We can use built-in functions as key functions when sorting a list. So if you want a case-insensitive sort function, use `str.lower` as a key function:

In [78]:
thislist.sort(key = str.lower)

print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [79]:
thislist.reverse()    # reverses the order of the list

print(thislist)

['Orange', 'Kiwi', 'cherry', 'banana']

<div class="alert alert-block alert-info">

You cannot copy a list simply by typing `list2 = list1`, because `list2` will only be a reference to `list1`, and changes made in `list1` will automatically also be made in `list2`.
</div>

In [80]:
list1 = [1,2,3,4]
list2 = list1

list1[1] = 47

print('list1 is', list1)
print('list2 is', list2)

list1 is [1, 47, 3, 4]
list2 is [1, 47, 3, 4]

There are ways to make a copy. One way is to use the built-in List method `copy()`:

In [81]:
list3 = list1.copy()

list1[3] = 22

print('list1 is', list1)
print('list3 is', list3)

list1 is [1, 47, 3, 22]
list3 is [1, 47, 3, 4]

Another way to make a copy is to use the built-in function `list()`.

In [82]:
list4 = list(list1)

list1[2] = 15

print('list1 is', list1)
print('list4 is', list4)

list1 is [1, 47, 15, 22]
list4 is [1, 47, 3, 22]

## Tuples <a class="anchor" id="Tuples"></a> [&#11014;](#Table_of_Contents)

Tuple items are ordered, unchangeable (Tuple objects are *immutable*), and allow duplicate values.

In [83]:
mytuple = ("kiwi", "watermelon", 1, 3, 3, False,
           3.14, 2+3j, [1,2], (6,7), {'Zahra':20, 'Karim':7}, {20,7}, 'x')

print(mytuple, '\n')

print("mytuple[:] is", mytuple[:], '\n')

print("mytuple[1] is", mytuple[1], '\n')

print("mytuple[-1] is", mytuple[-1], '\n')

# mytuple[start:end:step] (default: step=1)

print("mytuple[3:5] is", mytuple[3:5], '\n')

print("mytuple[6:] is", mytuple[6:], '\n')

print("mytuple[:6] is", mytuple[:6], '\n')

print("mytuple[1:4:2] is", mytuple[1:4:2], '\n')

print("mytuple[::-1] is", mytuple[::-1], '\n')

print("mytuple[-9:-2] is", mytuple[-9:-2])

('kiwi', 'watermelon', 1, 3, 3, False, 3.14, (2+3j), [1, 2], (6, 7), {'Zahra': 20, 'Karim': 7}, {20, 7}, 'x')

mytuple[:] is ('kiwi', 'watermelon', 1, 3, 3, False, 3.14, (2+3j), [1, 2], (6, 7), {'Zahra': 20, 'Karim': 7}, {20, 7}, 'x')

mytuple[1] is watermelon

mytuple[-1] is x

mytuple[3:5] is (3, 3)

mytuple[6:] is (3.14, (2+3j), [1, 2], (6, 7), {'Zahra': 20, 'Karim': 7}, {20, 7}, 'x')

mytuple[:6] is ('kiwi', 'watermelon', 1, 3, 3, False)

mytuple[1:4:2] is ('watermelon', 3)

mytuple[::-1] is ('x', {20, 7}, {'Zahra': 20, 'Karim': 7}, (6, 7), [1, 2], (2+3j), 3.14, False, 3, 3, 1, 'watermelon', 'kiwi')

mytuple[-9:-2] is (3, False, 3.14, (2+3j), [1, 2], (6, 7), {'Zahra': 20, 'Karim': 7})

In [84]:
print('mytuple[8] is', mytuple[8])
print('mytuple[8][0] is', mytuple[8][0])

mytuple[8] is [1, 2]
mytuple[8][0] is 1

<div class="alert alert-block alert-info">

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
</div>

In [85]:
var1 = ("apple",)
var2 = ("apple")

print("The type of variable var1 is", type(var1))
print("The type of variable var2 is", type(var2))

The type of variable var1 is <class 'tuple'>
The type of variable var2 is <class 'str'>

In [86]:
mytuple[-1] = "Python"

print(mytuple)

TypeError: 'tuple' object does not support item assignment

<div class="alert alert-block alert-info">

Although tuples are immutable, however you are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:
</div>

In [87]:
y = ("orange",)
mytuple += y

print(mytuple)

('kiwi', 'watermelon', 1, 3, 3, False, 3.14, (2+3j), [1, 2], (6, 7), {'Zahra': 20, 'Karim': 7}, {20, 7}, 'x', 'orange')

In [88]:
print('X' in mytuple)
print('x' in mytuple)
print('X' not in mytuple)

False
True
True

In [89]:
print("The length of variable mytuple is", len(mytuple))

The length of variable mytuple is 14

In [90]:
mytuple2 = (25, 57, 38, 9, 16, 30.1, 39.5, 16.4, 18.5, 17.4)

print("The maximum value in mytuple2 is", max(mytuple2))
print("The maximum value in mytuple2 is", min(mytuple2))

The maximum value in mytuple2 is 57
The maximum value in mytuple2 is 9

<div class="alert alert-block alert-info">

Similar to lists, the `del` keyword can delete the tuple completely.
</div>

In [91]:
del mytuple

print(mytuple)

NameError: name 'mytuple' is not defined

<div class="alert alert-block alert-warning">

When we create a tuple, we normally assign values to it. This is called *packing* a tuple.
```python
fruits = ("apple", "banana", "cherry")
```
But, in Python, we are also allowed to extract the values back into variables. This is called *unpacking*.
```python
(green, yellow, red) = fruits

```
The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list. If the number of variables is less than the number of values, you can add an `*` to the variable name and the values will be assigned to the variable as a list:
</div>

In [92]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left:

In [93]:
(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

### Tuples Methods <a class="anchor" id="Tuples_Methods"></a> [&#11014;](#Table_of_Contents)

| Method | Description |
| :- | :- |
| `count()` | Returns the number of times a specified value occurs in a tuple |
| `index()` | Searches the tuple for a specified value and returns the position of where it was found |

In [94]:
fruits = ("apple", "banana", "cherry", "banana", "strawberry", "raspberry")

# searches the tuple fruits for value "banana"
# and returns the position of where it was found
print(fruits.index("banana"))
# try this code and try to describe it's output
#print(fruits.index("banana", fruits.index("banana")+1, len(fruits)))

# returns the number of times that the value "banana" occurs in tuple fruits
print(fruits.count("banana"))

1
2

## Sets <a class="anchor" id="Sets"></a> [&#11014;](#Table_of_Contents)

Set items are unordered, unchangeable*, unindexed and do not allow duplicate values.

<div class="alert alert-block alert-info">

*Set items are unchangeable, but you can remove items and add new items.
</div>

<div class="alert alert-block alert-info">

Sets are unordered, so you cannot be sure in which order the items will appear.
</div>

In [95]:
myset = {"Ahmad", 5, "Mahsa", (0,0), "Mahsa", 3, 3.14, 2.26, False, 4+6j, 'x'}

print(myset, '\n')

{False, 2.26, 3, 3.14, 5, (0, 0), 'Mahsa', 'Ahmad', (4+6j), 'x'}

<div class="alert alert-block alert-info">

The values `True` and `1` are considered the same value in sets, and are treated as duplicates.
</div>

In [96]:
myset2 = {True, 1, 2}

print(myset2)

{True, 2}

In [97]:
print('X' in myset)
print('x' in myset)
print('X' not in myset)

False
True
True

In [98]:
print("The length of variable myset is", len(myset))

The length of variable myset is 10

In [99]:
myset3 = {45, 89, 16, 29, 97, 67.3, 94.5, 46.7, 11.6, 74.5}

print("The maximum value in myset3 is", max(myset3))
print("The maximum value in myset3 is", min(myset3))

The maximum value in myset3 is 97
The maximum value in myset3 is 11.6

### Sets Methods <a class="anchor" id="Sets_Methods"></a> [&#11014;](#Table_of_Contents)

| Method | Description |
| :- | :- |
| `add()` | Adds an element to the set |
| `clear()` | Removes all the elements from the set |
| `copy()` | Returns a copy of the set |
| `difference()` | Returns a set containing the difference between two or more sets |
| `difference_update()` | Removes the items in this set that are also included in another, specified set |
| `discard()` | Remove the specified item |
| `intersection()` | Returns a set, that is the intersection of two other sets |
| `intersection_update()` | Removes the items in this set that are not present in other, specified set(s) |
| `isdisjoint()` | Returns whether two sets have a intersection or not |
| `issubset()` | Returns whether another set contains this set or not |
| `issuperset()` | Returns whether this set contains another set or not |
| `pop()` | Removes an element from the set |
| `remove()` | Removes the specified element |
| `symmetric_difference()` | Returns a set with the symmetric differences of two sets |
| `symmetric_difference_update()` | inserts the symmetric differences from this set and another |
| `union()` | Return a set containing the union of sets |
| `update()` | Update the set with the union of this set and others |

In [100]:
thisset1 = {"apple", "banana", "cherry"}
thisset2 = {"pineapple", "mango", "papaya", "apple"}

In [101]:
thisset1.add("orange")    # adds "orange" to the set thisset1

print(thisset1)

{'orange', 'cherry', 'apple', 'banana'}

In [102]:
# update the set thisset1 with the union of set thisset1 and set thisset2
thisset1.update(thisset2)

print(thisset1)

{'papaya', 'apple', 'banana', 'orange', 'pineapple', 'cherry', 'mango'}

In [103]:
mylist = ["kiwi", "orange"]

thisset1.update(mylist)

print(thisset1)

{'papaya', 'apple', 'kiwi', 'banana', 'orange', 'pineapple', 'cherry', 'mango'}

In [104]:
# return a set containing the union of set thisset1 and set thisset2
thisset1.union(thisset2)

{'apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'papaya', 'pineapple'}

The `intersection_update()` method will keep only the items that are present in both sets:

In [105]:
# removes the items in the set thisset1 that are not present in set thisset2
thisset1.intersection_update(thisset2)

print(thisset1)

{'papaya', 'pineapple', 'apple', 'mango'}

The `intersection()` method will return a *new* set, that only contains the items that are present in both sets:

In [106]:
# returns a set, that is the intersection of set thisset1 and set thisset2
thisset3 = thisset1.intersection(thisset2)

print(thisset3)

{'papaya', 'pineapple', 'apple', 'mango'}

In [107]:
thisset1 = {"apple", "banana", "cherry"}
thisset2 = {"pineapple", "mango", "papaya", "apple"}

# removes the items in the set thisset1
# that are also included in the set thisset2
thisset1.difference_update(thisset2)

print(thisset1)

{'cherry', 'banana'}

In [108]:
# returns a set containing the difference between thisset1 and thisset2
thisset3 = thisset1.difference(thisset2)

print(thisset3)

{'cherry', 'banana'}

The `symmetric_difference_update()` method will keep only the elements that are NOT present in both sets:

In [109]:
thisset1 = {"apple", "banana", "cherry"}
thisset2 = {"pineapple", "mango", "papaya", "apple"}

# inserts the symmetric differences from thisset1 and thisset2
thisset1.symmetric_difference_update(thisset2)

print(thisset1)

{'papaya', 'banana', 'pineapple', 'cherry', 'mango'}

The `symmetric_difference()` method will return a *new* set, that contains only the elements that are NOT present in both sets:

In [110]:
# returns a set with the symmetric differences of thisset1 and thisset2
thisset3 = thisset1.symmetric_difference(thisset2)

print(thisset3)

{'apple', 'banana', 'cherry'}

In [111]:
thisset1 = {"apple", "banana", "cherry"}
thisset2 = {"apple", "banana", "cherry", "mango", "papaya"}

# returns whether thisset2 contains thisset1 or not
print(thisset1.issubset(thisset2))
# returns whether thisset1 contains thisset2 or not
print(thisset2.issuperset(thisset1))

True
True

In [112]:
# removes "banana" in the set thisset1
thisset1.remove("banana")
print(thisset1)

# remove an item that is not in the set, using remove
thisset1.remove("banana")
print(thisset1)

{'cherry', 'apple'}

KeyError: 'banana'

In [113]:
# removes "mango" in the set thisset1
thisset1.discard("mango")
print(thisset1)

# remove an item that is not in the set, using discard
thisset1.discard("banana")
print(thisset1)

{'cherry', 'apple'}
{'cherry', 'apple'}

<div class="alert alert-block alert-info">

If the item to remove does not exist, `remove()` will raise an error, but `discard()` will NOT raise an error.
</div>

You can also use the `pop()` method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed:

In [114]:
thisset1.pop()    # removes a random element from the set thisset1

print(thisset1)

{'apple'}

In [115]:
thisset1.clear()    # removes all the elements from the set thisset1

print(thisset1)

set()

<div class="alert alert-block alert-info">

Similar to lists and tuples, the `del` keyword can delete the set completely.
</div>

In [116]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

## Dictionaries <a class="anchor" id="Dictionaries"></a> [&#11014;](#Table_of_Contents)

Dictionary items are ordered, changeable (Dictionary objects are *mutable*), and doesn't allow duplicate values.

In [117]:
mydict = {"brand":"Ford", "electric":False, "year":1964,
          "year":2020, "colors":["red","white","blue"]}

print(mydict, '\n')

print("mydict['brand'] is", mydict["brand"], '\n')

print("mydict['colors'][1]", mydict["colors"][1])

{'brand': 'Ford', 'electric': False, 'year': 2020, 'colors': ['red', 'white', 'blue']}

mydict['brand'] is Ford

mydict['colors'][1] white

In [118]:
mydict["brand"] = "Lamborghini"
mydict["country"] = "Germany"

print(mydict)

{'brand': 'Lamborghini', 'electric': False, 'year': 2020, 'colors': ['red', 'white', 'blue'], 'country': 'Germany'}

In [119]:
print('electric' in mydict)
print('Electric' in mydict)
print(2020 in mydict)
print('Electric' not in mydict)

True
False
False
True

In [120]:
print("The length of variable mydict is", len(mydict))

The length of variable mydict is 5

In [121]:
family = {"child1":{"Name":"Ali", "Age":15},
          "child2":{"Name":"Reza", "Age":18}}

print(family["child1"]["Age"])

15

### Dictionaries Methods <a class="anchor" id="Dictionaries_Methods"></a> [&#11014;](#Table_of_Contents)

| Method | Description |
| :- | :- |
| `clear()` | Removes all the elements from the dictionary |
| `copy()` | Returns a copy of the dictionary |
| `fromkeys()` | Returns a dictionary with the specified keys and value |
| `get()` | Returns the value of the specified key |
| `items()` | Returns a list containing a tuple for each key value pair |
| `keys()` | Returns a list containing the dictionary's keys |
| `pop()` | Removes the element with the specified key |
| `popitem()` | Removes the last inserted key-value pair |
| `setdefault()` | Returns the value of the specified key. If the key does not exist: insert the key, with the specified value |
| `update()` | Updates the dictionary with the specified key-value pairs |
| `values()` | Returns a list of all the values in the dictionary |

In [122]:
thisdict = {"brand":"Ford", "model":"Mustang", "year":1964}

In [123]:
# returns the value of the key "model" in the thisdict
# (same as thisdict["model"])
print(thisdict.get("model"))

Mustang

In [124]:
print(thisdict.keys())    # returns a list containing the thisdict's keys

dict_keys(['brand', 'model', 'year'])

In [125]:
# returns a list of all the values in the thisdict
print(thisdict.values())

dict_values(['Ford', 'Mustang', 1964])

In [126]:
# returns a list containing a tuple
# for each key value pair in dictionary thisdict
print(thisdict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [127]:
# removes the element with the key "brand" in the thisdict
thisdict.pop("brand")

print(thisdict)

{'model': 'Mustang', 'year': 1964}

In [128]:
# removes the last inserted key-value pair in the thisdict
thisdict.popitem()

print(thisdict)

{'model': 'Mustang'}

<div class="alert alert-block alert-info">

Similar to lists, tuples and sets, the `del` keyword can delete the dictionary completely or the specified key-value in the dictionary.
</div>

In [129]:
del thisdict["model"]

print(thisdict)

{}

In [130]:
del thisdict

print(thisdict)

NameError: name 'thisdict' is not defined

In [131]:
thisdict = {"brand":"Ford", "model":"Mustang", "year":1964}

thisdict.clear()    # removes all the elements from the dictionary thisdict

print(thisdict)

{}

# Conditional Commands <a class="anchor" id="Conditional_Commands"></a> [&#11014;](#Table_of_Contents)

In [132]:
a = 33
b = 200

if b > a:
    print("b is greater than a")

# short hand if
#if b > a: print("b is greater than a")

b is greater than a

<div class="alert alert-block alert-info">

Python relies on indentation (whitespace at the begining of a line) to define scope in the code. A statement, without indentation, will raise error.
</div>

In [133]:
a = 33
b = 200

if b > a:
print("b is greater than a")

IndentationError: expected an indented block after 'if' statement on line 4 (170397834.py, line 5)

In [134]:
a = 33
b = 33

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [135]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")
    b += 100
    print(b)

a is greater than b
133

In [136]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("a is greater than b")
    
# short hand if else
#print("b is greater than a") if b > a else print("a is greater than b")

a is greater than b

# Loops <a class="anchor" id="Loops"></a> [&#11014;](#Table_of_Contents)

## While Loop <a class="anchor" id="While_Loop"></a> [&#11014;](#Table_of_Contents)

In [137]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

I commented the next cell, because if it is executed and a large number of outputs are produced, the file size will increase greatly. After downloading the code, you can uncomment this cell and try it to get familiar with the infinite loop.

In [138]:
# # infinite loop
# Flag = True
# while Flag:
#     print(1)

In [139]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [140]:
i = 0
while i < 6:
    i += 1
    if i == 4:
        continue
    print(i)

1
2
3
5
6

In [141]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## For Loop <a class="anchor" id="For_Loop"></a> [&#11014;](#Table_of_Contents)

In [142]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [143]:
for number in range(3, 10):
    print(number)

3
4
5
6
7
8
9

In [144]:
for number in range(3, 10, 2):
    print(number)

3
5
7
9

In [145]:
List = ["Ali", "Mohammad", "Reza"]

for name in List:
    print(name)

Ali
Mohammad
Reza

In [146]:
for character in "Mohammad":
    print(character)

M
o
h
a
m
m
a
d

# Functions <a class="anchor" id="Functions"></a> [&#11014;](#Table_of_Contents)

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

## Creating a Function <a class="anchor" id="Creating_a_Functions"></a> [&#11014;](#Table_of_Contents)

In [147]:
def my_function():
    print("Hello from a function")

In [148]:
my_function()

Hello from a function

## Function Arguments <a class="anchor" id="Function_Arguments"></a> [&#11014;](#Table_of_Contents)

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [149]:
def my_function(fname):
    print(fname + " Bagheri")

In [150]:
my_function("Ali")

my_function("Mohammad")

Ali Bagheri
Mohammad Bagheri

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [151]:
def my_function(food):
    for x in food:
        print(x)

In [152]:
fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

<div class="alert alert-block alert-info">
    
Arguments are often shortened to args in Python documentations.
</div>

### Number of Arguments <a class="anchor" id="Number_of_Arguments"></a> [&#11014;](#Table_of_Contents)

By default, a function must be called with the correct number of arguments. Meaning that if your function expects $2$ arguments, you have to call the function with $2$ arguments, not more, and not less.

In [153]:
def my_function(fname, lname):
    print(fname + " " + lname)

In [154]:
my_function("Ali", "Bagheri")

Ali Bagheri

### Arbitrary Arguments, *args <a class="anchor" id="Arbitrary_Arguments"></a> [&#11014;](#Table_of_Contents)

If you do not know how many arguments that will be passed into your function, add a `*` before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [155]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

In [156]:
my_function("Ali", "Mohammad", "Fateme")

The youngest child is Fateme

### Keyword Arguments <a class="anchor" id="Keyword_Arguments"></a> [&#11014;](#Table_of_Contents)

You can also send arguments with the `key = value` syntax.

In [157]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

In [158]:
my_function(child1="Ali", child2="Mohammad", child3="Fateme")

The youngest child is Fateme

### Arbitrary Keyword Arguments, **kwargs <a class="anchor" id="Arbitrary_Keyword_Arguments"></a> [&#11014;](#Table_of_Contents)

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: `**` before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [159]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

In [160]:
my_function(fname="Ali", lname="Bagheri")

His last name is Bagheri

### Default Parameter Value <a class="anchor" id="Default_Parameter_Value"></a> [&#11014;](#Table_of_Contents)

In [161]:
def my_function(country = "Norway"):
    print("I am from " + country)

In [162]:
my_function("Sweden")

my_function("India")

my_function()

I am from Sweden
I am from India
I am from Norway

## Return Values <a class="anchor" id="Return_Values"></a> [&#11014;](#Table_of_Contents)

To let a function return a value, use the return statement:

In [163]:
def my_function(x):
    return 5 * x

In [164]:
def my_function2(x):
    print(5 * x)

In [165]:
x = my_function(5)

print(x)

25

In [166]:
y = my_function2(5)

print(y)

25
None

In [167]:
print(my_function(3))

print(my_function(5))

15
25